@model IEnumerable<Entities.Concrete.AppUser>

@{
    ViewData["Title"] = "GetAllAppUsers";
}

<div class="">
    <div class="">
        <div class="bg-white  ">
            <h2 class="pt-3 pb-4 pl-4"><strong>Kullanıcılar</strong><i class="fas fa-arrow-left  border p-2  rounded-circle border-primary text-primary float-right" style="margin-right:2%;"></i></h2>
        </div>
        <div class="bg-white  mt-4" style="margin-left:2%;margin-right:2%;">
            <div class="row bg-white rounded">

                <div class="col-sm-12">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 float-right pt-4 p-2 ">
                        <a asp-action="Add"><i class="fa  fa-plus border p-2 mr-1 rounded-circle border-primary  btn-outline-primary float-right"></i></a>
                    </div>


                </div>

                <hr class="container-fluid bg-light pl-5" @*style="width:95%;"*@ />

                <div class="container-fluid">
                   
                        <div class="col-md-12 card ">
                            <table id="recordtable" class="table table-sm table-striped table-bordered ">
                                <thead>
                                    <tr>
                                        <th>
                                         İsim
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th> 
                                        <th>
                                            @Html.DisplayNameFor(model => model.Department)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>







    @section Scripts{

        <script type="text/javascript">

            var recordtable;
            var stock = 0;
            var toplammaliyet = 0;
            var stockdizi = [];
            var toplammaliyetdizi = [];
            $(function () {

                ///  $('#recordtable1_paginate').hide();

                recordtable = $('#recordtable').DataTable({
                    "responsive": true,
                    "serverSide": true,
                    "searching": true,
                    "lengthChange": false,
                    //"jQueryUI": true,
                    "stateSave": false,
                    "pagingType": "full_numbers",
                    "ajax": {
                        "url": "/AppUser/GetUserDatatables",
                        "type": "POST",
                        "contentType": "application/json; charset=utf-8",
                        "data": function (d) {
                            //d.dataqueryname = _defaulttablename;
                            //d.additionalvalues = [tipval, markaval];
                            return JSON.stringify(d);
                            return d;
                        }
                    },
                    "columns": [
                        {
                            "data": "Name"
                        },
                        {
                            "data": "Email"/*, "visible": false*/
                        },
                        {
                            "data": "Department"/*, "visible": false*/
                        },
                        {
                            "data": "Id", className: "text-center", "render": function (data, type, row) {
                                var html = "<a href='/AppUser/Update/" + data + "' class='btn btn-warning   btn-sm text-white  '>Güncele</a>"
                                    + "<a data-id='" + data + "'  class='btn btn-danger  btn-sm text-white delete '>Sil</a>"

                                return html;
                            }
                        }
                    ]
                    ,
                    "rowCallback": function (row, data) {

                        /*  toplammaliyetdizi.push((data.fiyat * data.adet))*/

                    }, "drawCallback": function (settings) {

                        //toplammaliyet = 0;


                        //toplammaliyetdizi.forEach((element) => {
                        //    toplammaliyet = toplammaliyet + element;

                        //})

                        //$('#toplammaliyet').html(" Toplam: " + numeral(toplammaliyet).format('0,0') + " TL")

                        //toplammaliyetdizi = [];



                    }

                });



                $(".dataTable tbody").on("click", "a.delete", function () {
                    var id = $(this).attr("data-id");

                    $.confirm({
                        title: 'Sil?',
                        content: 'Bu kaydı silmek istediğinize emin misiniz?" ',
                        autoClose: 'cancelAction|8000',
                        buttons: {
                            deleteUser: {
                                text: 'EVET',
                                action: function () {

                                    $.LoadingOverlay("show");
                                    $.ajax({
                                        type: "Get",
                                        url: "/AppUser/Delete/" + id,
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (msg) {

                                            $.LoadingOverlay("hide");
                                            console.log(msg)
                                            if (msg.success) {
                                                recordtable.draw();

                                                utilities.onscreen(utilities.dil_ceviri("İşlem Başarılı", "kayit_basarili"));

                                            } else {
                                                recordtable.draw();
                                                $.alert(msg.errors.map(e => e.message).join());
                                            }



                                        }
                                    });
                                }
                            }, cancelAction: {
                                text: 'Hayır',
                                action: function () {

                                }
                            }
                        }
                    });
                });

                $(".dataTable tbody").on("click", "a.update", function () {
                    var id = $(this).attr("data-id");
                    var Malzid = $(this).attr("data-Malzid");
                    var Adet = $("#adet-" + id + "").val();
                    var fiyat = $("#fiyat-" + id + "").val();

                    $.LoadingOverlay("show");

                    $.ajax({
                        type: "POST",
                        url: "/Sepet/Update",
                        data: JSON.stringify({
                            "Malzid": Malzid,
                            "id": id,
                            "Adet": Adet,
                            "Fiyat": fiyat
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (msg) {

                            $.LoadingOverlay("hide");
                            if (msg.errors.length == 0) {
                                recordtable1.draw();
                                utilities.onscreen(utilities.dil_ceviri("Sepete Eklendi", "kayit_basarili"));

                            } else {
                                recordtable1.draw();
                                $.alert(msg.errors.map(e => e.message).join());
                            }



                        }
                    });



                });


            });

        </script>

    }
