@model Entities.Concrete.Item

@{
    ViewData["Title"] = "NewConfiguration";
}

<div class="">
    <div class="bg-white  ">
        <h2 class="pt-3 pb-4 pl-4"><strong>Malzeme Güncelle</strong><i class="fas fa-arrow-left  border p-2  rounded-circle border-primary text-primary float-right" style="margin-right:2%;"></i></h2>
    </div>

</div>
<div class="bg-white  mt-4 " style="margin-left:2%;margin-right:2%;">
    <div class="row bg-white rounded">

        <div class="col-sm-6">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">İsim</label>
                    <input asp-for="Name" class="form-control" />
                    <input asp-for="Id" class="form-control" hidden />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label">Kod</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LogoId" class="control-label"></label>
                    <input asp-for="LogoId" class="form-control" />
                    <span asp-validation-for="LogoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemType" class="control-label">Mazeme Türü</label>
                    <input asp-for="ItemType" class="form-control" />
                    <span asp-validation-for="ItemType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Fiyat</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Stock" class="control-label">Stock</label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <div>
                        <a href="/Item/Index">Back to List</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
